body {
    margin-top: 0;
    padding-top: 0;
}


/* Left section */
.left-section {
    width: 80%;
    margin-top: 0;
    padding-top: 0;  
    position: relative;
    top: -100px;
}

/* Body text */
.body-text {
    font-size: 1.2rem;
    color: #555;
}

/* Button group */
.button-group {
    margin-top: 2.5rem;
    margin-left: 20px;
}

/* Left section paragraph */
.left-section p {
    margin-top: 5px;
}

/* Right section */
.right-section {
    display: flex;
    justify-content: flex-end;  /* Mantiene la imagen a la derecha */
    align-items: center;        /* Centra la imagen verticalmente */
    height: 60vh;              /* Ajusta la altura del contenedor */
    flex: 1;                    /* Flex adicional */
    margin-bottom: 100px ;
}

/* Left section h1 */
.left-section h1 {
    font-size: 3.2rem;
    margin-top: 0;  /* Elimina el margen negativo */
}

/* Container */
.container {
    display: flex;
    align-items: center; /* Centra verticalmente los elementos */
    justify-content: space-between; 
    height: auto;  /* Ajusta según lo necesites */
    position: relative;
    top: -140px;
}

/* Dashboard image */
.dashboard-img {
    max-width: 90%;  /* Ajusta el tamaño sin desbordar */
    height: auto;    /* Mantiene la proporción */
    position: relative;
    top: -60px;      /* Ajusta el valor según lo necesario */
}

/* Left section list items */
.left-section ul li {
    margin-bottom: 15px;
}
