/* Estilos generales */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Contenedor principal */
.dashboard-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.titulo {
    width:100%;
    text-align: center;
    padding: 2rem 0;
    display: block; /* Asegura que el elemento sea de tipo bloque */
    margin: 0 auto;
}
header h1 {
    margin: 0;
}

header p {
    margin: 0.5rem 0 0;
}
.btn-large {
    background-color: #007bff;
    padding: 0.8rem 1.2rem;
    border-radius: 5px;
    color: white;
}

/* Cuerpo */
.dashboard-body {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    flex: 1;
    margin-top: 15rem; /* Agregado margen superior para bajar el cuerpo */
}

.btn-join, .btn-info {
    padding: 1rem;
    margin-right: 1rem;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-join {
    background-color: #28a745;
    background-color: #f4f4f4;
}

.btn-info {
    background-color: #17a2b8;
    color: white;
}

.right-section {
    width: 80%;
   
}

.dashboard-img {
    width: 100%;
    border-radius: 10px;
  
}

/* Footer */
.dashboard-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 1rem 2rem;
    color: white;
}

.footer-link {
    color: white;
    text-decoration: none;
}

.footer-link:hover {
    text-decoration: underline;
}

.footer-right {
    display: flex;
    gap: 15px;
}

.social-icon {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
}
